[Desktop Entry]
Name=ec
GenericName=Emacs Client
Comment=Edit text
Exec=/home/phga/.dotfiles/scripts/emacs-client/ec.sh
Icon=ec
Type=Application
Categories=Development;TextEditor;
StartupWMClass=Emacs
Keywords=ec;Text;Editor;