*
# This one is new to allow directories by default
!*/

# Straight specific
/straight/repos
/straight/build
!/straight/versions/*

# Allow to WL subdirs
!/.gitignore
!cnf/
!cnf/**
!local-pkgs/
!local-pkgs/**
!snippets/
!snippets/**
!plugins
!init.el
!early-init.el
!ec.sh
!minimal.el
!test/
!test/**

# Ignore again
*~undo-tree~